<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript">
        var MAPS_API_KEY = "{{ maps_api_key }}"
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script type="module" src="/scripts/fam-bundle.js"></script>
</head>
<body>
    <div id="map"></div>

    <div class="modal fade" id="splash-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="staticBackdropLabel">You're travelling soon!!</h4>
                </div>
                <div class="modal-body">
                    <p>Here's your trip itinerary overview... So exciting!! Note: this is an awesome itinerary with sound effects ;) </p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="continue-button" class="btn btn-primary">Continue with sound</button>
                </div>
            </div>
        </div>
    </div>

    <div id="snackbar" class="hidden">Some text...</div>
</body>
</html>