<div class="col col-sm-0 col-md-1 col-lg-2"></div>
<div class="col col-sm-12 col-md-10 col-lg-8">
    <label class="form-label">{{title}}</label>
    <textarea type="text" class="form-control data-input-form" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{def}}</textarea>
</div>
<div class="col col-sm-0 col-md-1 col-lg-2"></div>