<div class="modal fade" id="splash-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0 text-center">
                <div class="modal-header border-0">
                    <h2 class="modal-title" id="staticBackdropLabel">{{{title}}}</h2>
                </div>
                <div class="modal-body border-0">
                    {{{body}}}
                </div>
            </div>
        </div>
    </div>