<div class="timeline-elem">
    <div class="line-container">
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="dot-container">
        <div class="dot"></div>
    </div>
    <div class="card-container">
        <div class="timeline-card blocked">
            <button class="timeline-title {{#body}}timeline-title-openable{{/body}}">
                {{title}}
            </button>
            <div class="timeline-body">
                {{body}}
            </div>
        </div>
    </div>
</div>