<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Map</title>
    <link rel="stylesheet" href="/css/simple.css">
    <script type="text/javascript">
        var MAPS_API_KEY = "{{ maps_api_key }}"
    </script>
    <script type="module" src="/scripts/bundle.js"></script>
</head>
<body>
    <div id="map"></div>
</body>
</html>